.DS_Store
/dist/
node_modules
thumbs.db
.idea/
yarn-error.log
.vs/slnx.sqlite
*.log.json

debug.log


.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
# #zero installs:
# !.yarn/cache

##not zero installs
.pnp.*

.fake
.ionide
**/.vs
**/.suo
packages/YouTubeProxy/YouTubeProxy/bin
packages/YouTubeProxy/YouTubeProxy/obj
.gitignore
*.csproj.user
packages/**/*.rar
**/.tmp.driveupload
**/bin/
.tsbuildinfo
