;public-hoist-pattern[]=!*types*
;public-hoist-pattern[]=!*eslint*
;public-hoist-pattern[]=!@prettier/plugin-*
;public-hoist-pattern[]=!@prettier-plugin-*
public-hoist-pattern[]=*-loader
# public-hoist-pattern[]=babel-loader
# public-hoist-pattern[]=css-hot-loader
